<h3>Please Fill Out the Registration Form</h3>

<form action="Result" method="get">
    <p>First Name</p><input name="FirstName" />
    <p>Last Name</p><input name="LastName" />
    <p>Email</p><input name="Email" type="email" />
    <p>Phone Number</p><input name="PhoneNumber" type="tel" />
    <p>Password</p><input name="Password" type="password" />


    <input type="submit" />
</form>

